apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        env:
        - name: COLLECTOR_ZIPKIN_HOST_PORT
          value: ":9411"
        - name: COLLECTOR_OTLP_ENABLED
          value: "true"
        ports:
        - containerPort: 16686
          name: ui
        - containerPort: 4317
          name: otlp-grpc
        - containerPort: 4318
          name: otlp-http
        - containerPort: 14268
          name: thrift
        - containerPort: 9411
          name: zipkin
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
spec:
  type: LoadBalancer
  ports:
  - port: 16686
    name: ui
  - port: 4317
    name: otlp-grpc
  - port: 4318
    name: otlp-http
  - port: 9411
    name: zipkin
  selector:
    app: jaeger
